aiohttp==3.9.3
biopython==1.83
colorama==0.4.6
flask-cors==4.0.0
gunicorn==22.0.0
httptools==0.6.1
lightning==2.0.9
matplotlib==3.8.0
pandas==1.5.3
pytest==7.4.3
python-dotenv==1.0.1
scikit-learn==1.4.0
transformers==4.39.1
uvloop==0.19.0
wandb==0.15.10
watchfiles==0.22.0
